body{
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #01080E ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #21aec7;
    background-color: #fff;
    height: 55px;
}
nav h1{
    margin: 1em;
}

nav input{
    border: none;
    border: 1px solid #21aec7;
    border-radius: 4px;
    width: 200px;
    height: 25px;
}

a{
    text-decoration: none;
    color: #000;
}

.nav-items ul{
    list-style: none;
    display: flex;
}
.nav-items li{
    margin: 1em;
}
.main-container{
    color: #fff;
}
.console-container{
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    margin: 35px;
}
.main{
    width: 95%;
    margin-top: 40px;
}
hr{
    width: 90%;
}
.left{
    margin-top: 10px;


}
.left img{
    object-fit: cover;
    object-position: center;
    height: 530px;
    width: 550px;
    border-radius: 4px;
    
}
.right{
    text-align: center;
}

.right img{
    object-fit: cover;
    object-position: center;
    width: 550px;
    height: 323px;
    border-radius: 4px;
    border-radius: 4px;

}
.right h2{
    margin: 38px;
    font-weight: 100;
}


.ps5 img{
    width: 70%;
    height: 85px;
}

.pc-container{
    text-align: center;
}
.pc-container h2{
    font-weight: 100;
}

.img-container{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-top: 25px;
    overflow: hidden;

}
.img-container img{
    display: flex;
    width: 35vw;
    
}

.text-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.apple-container{
    text-align: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    margin: 35px;
    align-content: center;
}

.apple-left img{
    object-fit: cover;
    object-position: center;
    width: 45vw;
    border-radius: 4px;
    align-content: center;
    height: 60.5vh;
    
}
.apple-right{
    text-align: center;
    align-content: center;
    height: 100%;
}

.apple-right img{
    object-fit: cover;
    object-position: center;
    width: 45vw;
    height: 30vh;
    border-radius: 4px;

}
.apple-right h2{
    margin: 32px;
    font-weight: 100;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px;
}
.left-footer{
    display: flex;
}
.img-footer{
    display: flex;
    flex-direction: column;
}
.text-footer{
    padding: 1em;
}

.left-footer img{
    width: 50px;
}